.history--container .card-header {
    background-color: #f4f4f4;
    padding-left: 1.5rem;
}

.history--container .card-header-title {
    padding-left: 0;
}

.history--container .fa-ul {
    list-style-type: none;
}

.history--container .fa-li {
    line-height: inherit;
}