.container.history--container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5em;
    margin: 2em auto;
}

@media (max-width: 768px) {
    .container.history--container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    .container.history--container {
        grid-template-columns: 1fr;
    }
}